In [89]:
import pandas as pd
import numpy as np
import seaborn as sns

In [90]:
!pwd

/Users/danielaarias/Ironhack/1_Taller_Pandas

In [91]:
df = pd.read_csv("Data/attacks.csv",encoding = "ISO-8859-1") #To load the data csv

In [92]:
df.shape

(25723, 24)

In [93]:
df.head(2)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [95]:
df.pdf.unique()

array(['2018.06.25-Wolfe.pdf', '2018.06.18-McNeely.pdf',
       '2018.06.09-Denges.pdf', ..., 'ND-0002-JulesPatterson.pdf',
       'ND-0001-Ceylon.pdf', nan], dtype=object)

In [96]:
df['Investigator or Source'].unique()

array(['R. Collier, GSAF', 'K.McMurray, TrackingSharks.com',
       'B. Myatt, GSAF', ..., 'F. Schwartz, p.23; C. Creswell, GSAF',
       'The Sun, 10/20/1938', 'S.W. Baker'], dtype=object)

In [97]:
df.Name.unique()

array(['Julie Wolfe', 'Adyson\xa0McNeely ', 'John Denges', ...,
       'A "chiefess"', 'Ahmun', 'Jules Patterson'], dtype=object)

In [98]:
df.href.unique()

array(['http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf',
       'http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.18-McNeely.pdf',
       'http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.09-Denges.pdf',
       ...,
       'http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0002-JulesPatterson.pdf',
       'http://sharkattackfile.net/spreadsheets/pdf_directoryND-0001-Ceylon.pdf',
       nan], dtype=object)

In [99]:
df['href formula'].unique()

array(['http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf',
       'http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.18-McNeely.pdf',
       'http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.09-Denges.pdf',
       ...,
       'http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0003-Ocracoke_1900-1905.pdf',
       'http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0002-JulesPatterson.pdf',
       'http://sharkattackfile.net/spreadsheets/pdf_directoryND-0001-Ceylon.pdf'],
      dtype=object)

In [100]:
df['Case Number'].unique()

array(['2018.06.25', '2018.06.18', '2018.06.09', ..., 'ND.0001', '0',
       'xx'], dtype=object)

In [101]:
df.Name.unique()

array(['Julie Wolfe', 'Adyson\xa0McNeely ', 'John Denges', ...,
       'A "chiefess"', 'Ahmun', 'Jules Patterson'], dtype=object)

In [102]:
df.drop(["href formula", "href", "pdf","Case Number.1","Case Number.2","Investigator or Source","Name"], axis=1, inplace=True)

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Case Number     8702 non-null   object
 1   Date            6302 non-null   object
 2   Year            6300 non-null   float64
 3   Type            6298 non-null   object
 4   Country         6252 non-null   object
 5   Area            5847 non-null   object
 6   Location        5762 non-null   object
 7   Activity        5758 non-null   object
 8   Sex             5737 non-null   object
 9   Age             3471 non-null   object
 10  Injury          6274 non-null   object
 11  Fatal (Y/N)     5763 non-null   object
 12  Time            2948 non-null   object
 13  Species         3464 non-null   object
 14  original order  6309 non-null   float64
 15  Unnamed: 22     1 non-null      object
 16  Unnamed: 23     2 non-null      object
dtypes: float64(2), object(15)
memory usage: 3.3+ MB

In [104]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",6299.0,NaN,NaN

In [105]:
df["Case Number"].unique()

array(['2018.06.25', '2018.06.18', '2018.06.09', ..., 'ND.0001', '0',
       'xx'], dtype=object)

In [106]:
df["original order"].unique()

array([6303., 6302., 6301., ..., 6309., 6310.,   nan])

In [107]:
df.Date.unique()

array(['25-Jun-2018', '18-Jun-2018', '09-Jun-2018', ..., '1883-1889',
       '1845-1853', nan], dtype=object)

In [108]:
display(df.Date)

0        25-Jun-2018
1        18-Jun-2018
2        09-Jun-2018
3        08-Jun-2018
4        04-Jun-2018
            ...
25718            NaN
25719            NaN
25720            NaN
25721            NaN
25722            NaN
Name: Date, Length: 25723, dtype: object

In [109]:
df.sort_values(by="Year").head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species,original order,Unnamed: 22,Unnamed: 23
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,2.0,NaN,NaN
6209,ND.0110,"No date, late 1960s",0.0,Unprovoked,VENEZUELA,Los Roques Islands,NaN,Spearfishing,M,NaN,"FATAL (x3), one survived with minor injuries",Y,NaN,said to involve 2.5 m hammerhead sharks,94.0,NaN,NaN
6210,ND-0109,Before 2006,0.0,Unprovoked,USA,Florida,"Tampa Bay, Hillsborough County",Wade-fishing,M,NaN,"No injury, shark rammed his back",N,NaN,NaN,93.0,NaN,NaN
6211,ND-0108,Before 2003,0.0,Unprovoked,GREECE,Dodecanese Islands,Near Symi Island,Free diving for sponges,M,NaN,FATAL,Y,NaN,NaN,92.0,NaN,NaN
6212,ND-0107,Before 2004,0.0,Boat,MOZAMBIQUE,Inhambane Province,Off Inhambane,Fishing,NaN,NaN,"No injury to occupants, shark bumped boat",N,NaN,Whale shark,91.0,NaN,NaN

In [113]:
list(df.Type.unique())

['Boating',
 'Unprovoked',
 'Invalid',
 'Provoked',
 'Questionable',
 'Sea Disaster',
 nan,
 'Boat',
 'Boatomg']

In [ ]:
Type.str.replace("loquequierocambiar", "cambio", redex=True)