In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import re

In [2]:
df = pd.read_csv("Data/attacks.csv",encoding = "ISO-8859-1")

In [3]:
df.head(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [4]:
df.shape

(25723, 24)

In [5]:
df.info

<bound method DataFrame.info of       Case Number         Date    Year        Type    Country  \
0      2018.06.25  25-Jun-2018  2018.0     Boating        USA
1      2018.06.18  18-Jun-2018  2018.0  Unprovoked        USA
2      2018.06.09  09-Jun-2018  2018.0     Invalid        USA
3      2018.06.08  08-Jun-2018  2018.0  Unprovoked  AUSTRALIA
4      2018.06.04  04-Jun-2018  2018.0    Provoked     MEXICO
...           ...          ...     ...         ...        ...
25718         NaN          NaN     NaN         NaN        NaN
25719         NaN          NaN     NaN         NaN        NaN
25720         NaN          NaN     NaN         NaN        NaN
25721         NaN          NaN     NaN         NaN        NaN
25722          xx          NaN     NaN         NaN        NaN

                  Area                        Location     Activity  \
0           California     Oceanside, San Diego County     Paddling
1              Georgia  St. Simon Island, Glynn County     Standing
2               Hawaii                    Habush, Oahu      Surfing
3      New South Wales              Arrawarra Headland      Surfing
4               Colima                        La Ticla  Free diving
...                ...                             ...          ...
25718              NaN                             NaN          NaN
25719              NaN                             NaN          NaN
25720              NaN                             NaN          NaN
25721              NaN                             NaN          NaN
25722              NaN                             NaN          NaN

                  Name Sex   ...         Species   \
0          Julie Wolfe    F  ...      White shark
1      Adyson McNeely     F  ...              NaN
2          John Denges    M  ...              NaN
3                 male    M  ...        2 m shark
4       Gustavo Ramos     M  ...  Tiger shark, 3m
...                ...  ...  ...              ...
25718              NaN  NaN  ...              NaN
25719              NaN  NaN  ...              NaN
25720              NaN  NaN  ...              NaN
25721              NaN  NaN  ...              NaN
25722              NaN  NaN  ...              NaN

               Investigator or Source                       pdf  \
0                    R. Collier, GSAF      2018.06.25-Wolfe.pdf
1      K.McMurray, TrackingSharks.com    2018.06.18-McNeely.pdf
2      K.McMurray, TrackingSharks.com     2018.06.09-Denges.pdf
3                      B. Myatt, GSAF  2018.06.08-Arrawarra.pdf
4                           A .Kipper      2018.06.04-Ramos.pdf
...                               ...                       ...
25718                             NaN                       NaN
25719                             NaN                       NaN
25720                             NaN                       NaN
25721                             NaN                       NaN
25722                             NaN                       NaN

                                            href formula  \
0      http://sharkattackfile.net/spreadsheets/pdf_di...
1      http://sharkattackfile.net/spreadsheets/pdf_di...
2      http://sharkattackfile.net/spreadsheets/pdf_di...
3      http://sharkattackfile.net/spreadsheets/pdf_di...
4      http://sharkattackfile.net/spreadsheets/pdf_di...
...                                                  ...
25718                                                NaN
25719                                                NaN
25720                                                NaN
25721                                                NaN
25722                                                NaN

                                                    href Case Number.1  \
0      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.25
1      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.18
2      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.09
3      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.08
4      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.04
...                                                  ...           ...
25718                                                NaN           NaN
25719                                                NaN           NaN
25720                                                NaN           NaN
25721                                                NaN           NaN
25722                                                NaN           NaN

      Case Number.2 original order Unnamed: 22 Unnamed: 23
0        2018.06.25         6303.0         NaN         NaN
1        2018.06.18         6302.0         NaN         NaN
2        2018.06.09         6301.0         NaN         NaN
3        2018.06.08         6300.0         NaN         NaN
4        2018.06.04         6299.0         NaN         NaN
...             ...            ...         ...         ...
25718           NaN            NaN         NaN         NaN
25719           NaN            NaN         NaN         NaN
25720           NaN            NaN         NaN         NaN
25721           NaN            NaN         NaN         NaN
25722           NaN            NaN         NaN         NaN

[25723 rows x 24 columns]>

In [6]:
df.isna().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [7]:
df.duplicated().sum()

19411

In [8]:
df.describe()

              Year  original order
count  6300.000000     6309.000000
mean   1927.272381     3155.999683
std     281.116308     1821.396206
min       0.000000        2.000000
25%    1942.000000     1579.000000
50%    1977.000000     3156.000000
75%    2005.000000     4733.000000
max    2018.000000     6310.000000

In [9]:
df = df.drop_duplicates()

In [10]:
df.shape

(6312, 24)

In [11]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [13]:
df.drop(["Case Number","Name","Time","href formula", "href", "pdf","Case Number.1","Case Number.2","Investigator or Source","Name","original order"], axis=1, inplace=True)

KeyError: "['Case Number' 'Name' 'Time' 'href formula' 'href' 'pdf' 'Case Number.1'\n 'Case Number.2' 'Investigator or Source' 'Name' 'original order'] not found in axis"

In [14]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity',
       'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Species ', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [15]:
list(df.Type.unique())

['Boating',
 'Unprovoked',
 'Invalid',
 'Provoked',
 'Questionable',
 'Sea Disaster',
 nan,
 'Boat',
 'Boatomg']

In [16]:
df.Type.fillna("Not defined",inplace=True)

/usr/local/Caskroom/miniconda/base/envs/Ironhack/lib/python3.8/site-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [17]:
list(df.Type.unique())

['Boating',
 'Unprovoked',
 'Invalid',
 'Provoked',
 'Questionable',
 'Sea Disaster',
 'Not defined',
 'Boat',
 'Boatomg']

In [23]:
df['Type'] = df['Type'].str.replace('Boat','Boating',regex=True)

<ipython-input-23-d3f233c0831b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Type'] = df['Type'].str.replace('Boat','Boating',regex=True)

In [24]:
df['Type'] = df['Type'].str.replace('Boatomg','Boating',regex=True)

<ipython-input-24-280a40bc6687>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Type'] = df['Type'].str.replace('Boatomg','Boating',regex=True)

In [25]:
df.Type.str.replace('Boat','Boating',regex=True).inplace=True

In [26]:
list(df.Type.unique())

['Boatinginginging',
 'Unprovoked',
 'Invalid',
 'Provoked',
 'Questionable',
 'Sea Disaster',
 'Not defined',
 'Boatinginging',
 'Boatingingingomg']

In [ ]:
nombre ={'Species ':'Species'}
df = df.rename(columns=nombre)

In [ ]:
list(df.Species.unique())

In [ ]:
df.Species.value_counts()

In [ ]:
df['Species'] = df['Species'].str.replace('(White).*','White',regex=True)

In [ ]:
df['Species'] = df['Species'].str.replace('(Tiger).*','Tiger',regex=True)

In [ ]:
df['Species'] = df['Species'].str.replace('(Bull).*','Bull',regex=True)

In [ ]:
df.Species.fillna("Not defined",inplace=True)

In [ ]:
df['Species'] = df['Species'].str.replace('(Shark involvement prior to death was not confirmed  ).*','Unconfirmed shark attack',regex=True)

In [ ]:
df['Species'] = df['Species'].str.replace('\w.*\s.*\.*shark\.*\s.*\w.*','Other species',regex=True)

In [ ]:
df['Species'] = df['Species'].str.replace('(not confirmed).*','Unconfirmed shark attack',regex=True)

In [ ]:
list(df.Species.unique())

In [ ]:
df.to_csv('Data/cleaning_cp.csv')